In [1]:
#Why to Use Python?
#Python can be used for :
#1. Programming (for Placements/online contests/DSA)
#2. Development (using a backend framework called Django)
#3. Machine Learning / Data Science / Artificial Intelligence

In [2]:
#basic of python
# (1)
# keywords :- these are the reserve words that can't be use as ordinary identifiers.
# to find the the reserved keywords.
import keyword
print(keyword.kwlist)
#total of keywords that are in python is 35

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
#2
#immutable :- this means their meaning and defination can't be altered.

In [4]:
#3
#CASE SENSITIVE
#python is a case sensitive program for eg:-
# True is valid keyword but true is not

In [5]:
#output
print('hello world') # print is a function use for output and the '' is use for convert into string (text).

hello world

In [6]:
#Variables
#Basic Types in Python - numbers(integers, floating), boolean, strings

In [7]:
#variables :- to store data
name = 'vasu bishnoi'# using string
age = 22 # using an integer
print(name)
print('age')#using string in Parentheses(brackets) will give the same outcome.
print(age)

vasu bishnoi
age
22

In [8]:
#we can change the variable also
name = 'harsh'
age =19.2 #using a float
print(name)
print(age)
is_adult = True # don't use true
# Booleans consist of True and False

harsh
19.2

In [9]:
# practice - 1
# add a person with name aegon stark
# aegon's age is 32 years old
# aegon is a genius

In [10]:
name = 'aegon stark'
age = 32
print(name)
print(age)
print('aegon is a genius')
aegon_is_genius = True

aegon stark
32
aegon is a genius

In [12]:
#taking input and giving output
name = input ('what is your name ?') # storing input in variable name
print ('hello ' + name) #concatenation is done(adding hello string with name variable)

what is your name ?vasu
hello vasu

In [13]:
# practice - 2
#aegon is secretly a superhero. Ask him for his superhero name and show it on the terminal
superhero = input('what is your superhero name ? ')
print(superhero)

what is your superhero name ? batman
batman

In [14]:
#type converstion
old_age = input('enter your old age: ')
new_age = int(old_age) + 2# we converted string into integer by int()function.
print(new_age)

enter your old age: 20
22

In [15]:
num = 18
float(num)# converting a integer into float

18.0

In [16]:
first_num = int(input('enter 1st number: '))
secound_num = int(input('enter 2nd number: '))
sum = first_num + secound_num
print('the sum of the number is: ' + str(sum))

enter 1st number: 25
enter 2nd number: 52
the sum of the number is: 77

In [17]:
name = 'Aegon Stark'
print(name.upper()) # to convert string into upper case
print(name.lower()) # to convert string into lower case
print(name)

AEGON STARK
aegon stark
Aegon Stark

In [18]:
print(name.find('S')) # in python index start with 0 for eg:- A=0 and e=1

6

In [19]:
name = 'aegon stark'
print(name.replace('stark','manny'))# changing the name

aegon manny

In [20]:
#boolean
print('stark' in name)
print('tony' in name)

True
False

In [21]:
#Arithmetic Operators(+,-,/,//,%)
a = 10
b = 3
#adding
add = a + b
#substraction
sub = a - b
#multiplication
mult = a * b 
#division
div = a / b
#division(without boolen)
divi = a // b
# remainder
rem = a % b
# power
power = a**b
#printing the answer
print(add)
print(sub)
print(mult)
print(div)
print(divi)
print(rem)
print(power)

13
7
30
3.3333333333333335
3
1
1000

In [22]:
#shortcut
i = 5
i = i + 5 # adding without shortcut
i +=2 # adding with shortcut
print (i)

12

In [23]:
#Operator Precedence
result = 3 + 5 * 2 # 16 or 13 ?
print(result)

13

In [24]:
#Comparison Operators
is_greater = 1 > 5
is_lesser = 1 < 5
# 1 <= 5
# 1 >= 5
is_not_equal = 1 != 5
is_equal = 1 == 5
print(is_greater)
print(is_lesser)
print(is_not_equal)
print(is_equal)

False
True
True
False

In [25]:
#Logical Operators
print(2 > 3 or 3 > 4)# or -> (atleast one is true)
print(2 > 1 and 2 > 0)# and -> (both are true)
print(not 3 > 5)# not -> (reverses any value)

False
True
True

In [26]:
#If - else  statements
age = 19 # 1st we will use if statement.
if age >= 18:
  print('you can vote')
print('thank you')

you can vote
thank you

In [27]:
#now we will add else statement
age = int(input('enter your age: '))
if age >= 18:
  print('you can vote')
else:
  print('you can not vote')

enter your age: 27
you can vote

In [28]:
age = int(input('enter your age: '))
if age >= 18:
  print('you can vote')
elif age <=17:
  print('you can not vote')
else:
  print('please try again')

enter your age: 16
you can not vote

In [30]:
age = int(input('enter your age: '))
if age >= 18:
  print('you can vote')
elif age <=17:
  print('you can not vote')
else:
  print('please try again')

enter your age: -19
you can not vote

In [31]:
from random import choice
# practice - 3
#build a Calculator
operation = input("Choose operation (add/sub/multi/divi/rem): ")
num_1 = int(input('please enter your 1st number: '))
num_2 = int(input('please enter your 2nd number: '))

add = num_1 + num_2
sub = num_1 - num_2
multi = num_1 * num_2
divi = num_1 / num_2
rem = num_1 % num_2

if add:
  print(add)
elif sub:
  print(sub)
elif multi:
  print(multi)
elif (divi):
  print(divi)
elif (rem):
  print(rem)
else:
  print('please try again')

Choose operation (add/sub/multi/divi/rem): sub
please enter your 1st number: 43
please enter your 2nd number: 31
74

In [32]:
#Or
first = input("Enter first number : ")
second = input("Enter second number : ")
first = int(first)
second = int(second)
print("----press keys for operator (+,-,*,/,%)----------")
operator = input("Enter operator : ")
if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second)
elif operator == "%":
  print(first % second)
else:
  print("Invalid Operation")

Enter first number : 689
Enter second number : 51
----press keys for operator (+,-,*,/,%)----------
Enter operator : /
13.509803921568627

In [33]:
#Range in Python
#range() function returns a range object that is a sequence of numbers.
numbers = range(5)
print(numbers)

range(0, 5)

In [34]:
#loop (while)
i = 1
while i <= 5:
 print(i)
 i = i+1

1
2
3
4
5

In [35]:
# we can also prints tables
i = 2
while i <= 20:
  print(i)
  i = i + 2

2
4
6
8
10
12
14
16
18
20

In [36]:
i = 9
while i<=90:
  print(i)
  i = i + 9

9
18
27
36
45
54
63
72
81
90

In [37]:
#forming structure
i = 1
while i <= 4:
  print(i * '*')
  i = i + 1

*
**
***
****

In [38]:
i = 5
while i >=1:
  print(i * '*')
  i = i - 1

*****
****
***
**
*

In [39]:
i = 1
while i <=5:
  print(i * 'heloo')
  i = i + 1

heloo
helooheloo
heloohelooheloo
helooheloohelooheloo
heloohelooheloohelooheloo

In [40]:
# range loop
for i in range (5):
  print(i)

0
1
2
3
4

In [41]:
for i in range (11):
  print(i + 1)

1
2
3
4
5
6
7
8
9
10
11

In [42]:
# list [] square brackets are use for list.
marks = [23 , 45 , 56]
print(marks)

[23, 45, 56]

In [43]:
names = [ 'harsh','vasu','jyoti']
print(names)

['harsh', 'vasu', 'jyoti']

In [44]:
print(names[0:2])

['harsh', 'vasu']

In [45]:
print(names[-1])

jyoti

In [46]:
#for loop
for i in marks:
  print(i)

23
45
56

In [47]:
#append (adding new data)
marks.append(99)
print(marks)

[23, 45, 56, 99]

In [48]:
# insert()
marks.insert(0,47)
print(marks)

[47, 23, 45, 56, 99]

In [49]:
#Using remove() method:
marks.remove(99)
print(marks)

[47, 23, 45, 56]

In [50]:
# using pop() method:
marks.pop(1)
print(marks)

[47, 45, 56]

In [51]:
# to find out any number that is present in your list
print(45 in marks)
print(99 in marks)

True
False

In [52]:
#to find out the lenght of the data
print(len(marks))

3

In [53]:
# while loop on data with help of len
marks
i =0
while i <len(marks):
  print(marks[i])
  i =i +1

47
45
56

In [54]:
# to clear the list
marks.clear()

In [55]:
marks # marks list is now empty

[]

In [56]:
names.append('damru')

In [57]:
names.insert(0,'ratha')

In [58]:
names

['ratha', 'harsh', 'vasu', 'jyoti', 'damru']

In [59]:
#Break & Continue
for name in names:
  if name == 'jyoti':
    break;
  print(name)

ratha
harsh
vasu

In [60]:
for name in names:
  if name == 'vasu':
    continue;
  print(name)

ratha
harsh
jyoti
damru

In [61]:
#Tuples
#They are like lists (sequence of objects) but they are immutable i.e. once they have been
#defined we cannot change them.
#Parenthesis in tuples are optional.

In [62]:
age =(34 , 18 , 10 , 10 , 10 ,24)

In [63]:
age.append(72) # hence tuples are immutable in nature

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
# we can perform 2 operation on tuples
print(age.count(10)) # we can find that how many time a number is repeat
print(age.index(24)) # we can also find the index of data
print(age.index(10)) #when a number is repeated it's take the index when the number is 1st time appeared

3
5
2

In [ ]:
#Sets
#Sets are a collection of all unique elements.
#Indexing is not supported in sets

In [67]:
weight = {70 , 80 , 85 , 80 , 79}

In [68]:
print(weight) # sets only show unique data

{80, 85, 70, 79}

In [69]:
print(weight.index(1)) # sets don't shows index

AttributeError: 'set' object has no attribute 'index'

In [70]:
# for loop on sets
for i in weight:
  print(i)

80
85
70
79

In [71]:
# while loop on sets , we directly can't use while loop on sets.
i = 0
while i<=len(weight):
  print(weight[1])
  i = i +1

TypeError: 'set' object is not subscriptable

In [72]:
# first we have convert set into list the we can use while loop
weight_list = list(weight)
weight_list
i = 0
while i < len(weight_list):
  print(weight_list[i])
  i+=1

80
85
70
79

In [73]:
#Dictionary
#Dictionary is an unordered collection of Items. Dictionary stores a (key, value) pair.
marks = {'maths' : 79, 'science' : 88, 'hindi' : 67}
print(marks)
print(marks['maths'])

{'maths': 79, 'science': 88, 'hindi': 67}
79

In [74]:
# adding new data to dictionary
marks['biology'] = 78
print(marks)

{'maths': 79, 'science': 88, 'hindi': 67, 'biology': 78}

In [75]:
#changing marks of the subject
marks['hindi'] = 90
print(marks)

{'maths': 79, 'science': 88, 'hindi': 90, 'biology': 78}

In [ ]:
#Functions in Python
#Function is a piece of code that performs some task. (In a tv remote, each button
#performs a functions, so a function is like that button in code)
#There are 3 types of functions in Java :
#a. In-built functions
# int() str() float() min() range() max()
#b. Module functions
#Module is a file that contains some functions & variables which can be imported
#for use in other files.
#Each module should contain some related tasks
#Example : math, random, string